<%= stylesheet_link_tag('index') %>
<div class="container">
  <div class="user-post">
    <h3>Post #1 by username</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam doloremque ex officiis quae veniam.
      Illum nobis numquam pariatur porro praesentium provident quas repellat. Accusamus deserunt iste laboriosam
      pariatur perspiciatis sequi.
    </p>
  </div>
  <div>
    <p>username comment 1</p>
    <p>username comment 2</p>
    <p>username comment 3</p>
    <p>username comment 4</p>
    <p>username comment 5</p>
    <p>username comment 6</p>
  </div>

<div class="posts-show">
<div class="post-show">

<div class="post-title-show">
<h1><%= @post.title %></h1>

<div class="post-interact">
<p>comments: <%= @post.comments_counter %></p>
<p>likes: <%= @post.likes_counter %></p>
</div>
</div>

<div>
<p><%= @post.text %></p>
</div>

</div>
<div class= "shared-comment-cont">
<div class="shared-comments">
<%= link_to "Add Comment", new_user_post_comment_path(@user, @post) %>
<%= form_with url: user_post_likes_path(@post.author.id, @post.id), method: :post do |form| %>
<%= form.submit 'Like' %>
<% end %>
</div>
<h2>Comments</h2>
<%= render "shared/comments", comments:@comments %>
</div>
